<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnimeCase Store | Contacto</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <header>
        <nav>
            <h1> AnimeCase Store</h1>

            <ul>
                <li> <a href="/Index.html">Inicio</a></li>
                <li><a href="/views/productos.html">Productos</a></li>
                <li><a  href="/views/presupuesto.html">Presupuesto</a></li>
                <li><a class="activo" href="/views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="contacto">
            <h2>Contacto</h2>

            <p>
                Puedes encontrarnos en nuestra tienda física o contactar con nosotros
                para resolver cualquier duda sobre nuestras fundas anime.
            </p>

            <div class="datos-contacto">
                <div>
                    <h3>Datos de la empresa</h3>

                    <p><strong>Nombre:</strong> AnimeCase Store</p>
                    <p><strong>Dirección:</strong> Calle Sakura 15, Sevilla</p>
                    <p><strong>Teléfono:</strong> 954 123 456</p>
                    <p><strong>Email:</strong> info@animecasestore.com</p>
                </div>

                <div>
                    <h3>Ubicación</h3>

                    <img src="/img/mapa.png" alt="Mapa con la ubicación de AnimeCase Store">
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>Síguenos en redes sociales:</p>
        <a href="https://www.instagram.com" target="_blank">Instagram</a>
        <a href="https://www.tiktok.com" target="_blank">TikTok</a>
        <a href="https://www.x.com" target="_blank">X</a>

        <p>Calle Sakura 15, Sevilla</p>
        <p>Aviso legal | Política de privacidad</p>
    </footer>
</body>
</html>
