<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnimeCase Store | Presupuesto</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <nav>
            <h1> AnimeCase Store</h1>

            <ul>
                <li> <a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a class="activo" href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="presupuesto">
        <h2>Solicita tu presupuesto</h2>

        <p>
            Cuéntanos qué tipo de funda buscas y te enviaremos más información.
        </p>

        <form action="#" method="post"> <!--action="#" indica dónde se enviarían los datos. Como es una maqueta y no tenemos servidor, lo dejamos así. method="post" indica que los datos se enviarían de forma no visible en la URL.-->

            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{2,50}" title="Introduce solo letras y espacios, entre 2 y 50 caracteres" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" title="Introduce un correo válido, por ejemplo usuario@email.com" required>

            <label for="telefono">Teléfono</label>
            <input type="tel" id="telefono" name="telefono" pattern="[0-9]{9}" title="Introduce un teléfono de 9 cifras" required>

            <label for="info"> Cuéntanos más</label>
            <input type="text" id="info" name="info" required>

            <div class="checkbox">
                <input type="checkbox" id="privacidad" name="privacidad" required>
                <label for="privacidad">Acepto la política de privacidad</label>
            </div>
            <button type="submit">Enviar solicitud</button>

        </form>
    </section>
    </main>

    <footer>
    <p>Síguenos en redes sociales:</p>

    <div class="redes">
        <a href="https://www.instagram.com" target="_blank">
            <img src="../assets/iconos/logoInstagram.png" alt="Instagram" width="32" height="32">
        </a>

        <a href="https://www.tiktok.com/" target="_blank">
            <img src="../assets/iconos/logoTiktok.png" alt="tiktok" width="32" height="32">
        </a>

        <a href="https://www.x.com" target="_blank">
            <img src="../assets/iconos/logoX.png" alt="X" width="32" height="32">
        </a>
    </div>

    <p>Calle Sakura 15, Sevilla</p>
    <p>Aviso legal | Política de privacidad</p>
</footer>
</body>
</html>