<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnimeCase Store</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <nav>
            <h1> AnimeCase Store | Productos</h1>

            <ul>
                <li> <a  href="../index.html">Inicio</a></li>
                <li><a class="activo" href="productos.html">Productos</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="productos">
            <h2>Nuestras fundas de anime</h2>
            <p>
                Descubre nuestra colección de fundas inspiradas en diferentes estilos de anime, manga y cultura japonesa
            </p>

            <div class="galeria">
                <article class="producto">
                    <img src="../assets/img/FundaSakura.png" alt="Funda de móvil estilo anime en tonos rosas" width="300" height="400">
                    <h3>Funda Sakura</h3>
                    <p>
                        Funda resistente con diseño floral inspirado en los cerezos japoneses.
                    </p>
                    <span>14,99€</span>
                </article>

                <article class="producto">
                    <img src="../assets/img/FundaGojo.png" alt="Funda de móvil estilo anime Gojo" width="300" height="400">
                    <h3>Funda Gojo</h3>
                    <p>
                        Funda resistente con diseño de Gojo de Jujutsu Kaisen.
                    </p>
                    <span>14,99€</span>
                </article>

                <article class="producto">
                    <img src="../assets/img/FundaLuffy.png" alt="Funda de móvil estilo anime en tonos rosas" width="300" height="400">
                    <h3>Funda Luffy</h3>
                    <p>
                        Funda resistente con diseño de Luffy de One Piece.
                    </p>
                    <span>14,99€</span>
                </article>
            </div>
        </section>
    </main>
    <footer>
    <p>Síguenos en redes sociales:</p>

    <div class="redes">
        <a href="https://www.instagram.com" target="_blank">
            <img src="../assets/iconos/logoInstagram.png" alt="Instagram" width="32" height="32">
        </a>

        <a href="https://www.tiktok.com/" target="_blank">
            <img src="../assets/iconos/logoTiktok.png" alt="tiktok" width="32" height="32">
        </a>

        <a href="https://www.x.com" target="_blank">
            <img src="../assets/iconos/logoX.png" alt="X" width="32" height="32">
        </a>
    </div>

    <p>Calle Sakura 15, Sevilla</p>
    <p>Aviso legal | Política de privacidad</p>
</footer>
</body>
</html>